.visit-container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	padding: 40px;
}

.visit-text {
	width: 40% !important;
	/* border: 1px solid red; */
}

.visit-map {
	width: 45% !important;
	padding-top: 100px;
	/* border: 1px solid blue; */
}

.dot-1 {
	position: relative;
	z-index: -1;
	top: 7rem;
	left: -10rem;
}

.heading {
	letter-spacing: 0.2rem;
	font-weight: 650;
	font-size: 60px;
	color: #416d7a;
}

.headquarters {
	color: #9fc1ca;
	font-size: 48px !important;
	font-weight: 600 !important;
	letter-spacing: 4px;
}

.head-address {
	font-size: 32px;
	letter-spacing: 4px;
	color: #233b42;
	font-weight: 600 !important;
}

.base-address {
	font-size: 22px;
	color: #233b42;
	font-weight: 400 !important;
}

.sub-heading {
	letter-spacing: 2px;
	font-weight: 600 !important;
}

.iframe-map {
	width: 100%;
	box-shadow: 18px 17px 5px -5px rgba(65, 109, 122, 0.49);
	-webkit-box-shadow: 18px 17px 5px -5px rgba(65, 109, 122, 0.49);
	-moz-box-shadow: 18px 17px 5px -5px rgba(65, 109, 122, 0.49);
}

.dot2 {
	position: relative;
	top: 280px;
	left: 85%;
	z-index: -1;
}

.banner {
	background-color: #ecf3f5;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	/* box-sizing: border-box; */
}

.banner-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50% !important;
	padding-top: 30px;
	box-sizing: border-box;
}

.banner-cities {
	width: 40%;
	padding: 20px;
}

.banner-address {
	text-align: end;
	width: 60%;
	padding: 20px;
}

.banner-img-container {
	width: 40% !important;
}

.city {
	font-size: 32px;
	color: #233b42;
}

.italic {
	color: #80aab7;
	font-style: italic;
}

.banner-right-text {
	font-size: 22px;
	color: #3f5055;
}

.banner-img {
	width: 100% !important;
}

.get-in-touch {
	font-size: 50px;
	font-weight: bold;
	color: #416d7a;
	font-weight: 600;
}

.getInTouchForm {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.getInTouchForm div img {
	width: 100%;
}

.form-group > textarea {
	border-radius: 8rem;
}

::placeholder {
	font-weight: 500;
	padding-left: 15px;
	font-size: 18px;
}

textarea::placeholder {
	padding-top: 10px;
}

.form-group > input {
	border-radius: 10rem;
	outline: none;
	height: 50px;
	width: 100%;
	color: #80aab7;
	font-size: 18px;
}

.form-group > button {
	width: 100%;
	background-color: #416d7a;
	color: #fff;
	height: 60px;
	border-radius: 10rem !important;
}

.form-group > input :focus {
	outline: none !important;
}

@media only screen and (max-width: 950px) {
	.banner {
		flex-direction: column;
	}
	.banner-top {
		width: 100% !important;
		justify-content: space-around;
	}
	.banner-img-container {
		width: 100% !important;
	}
	.banner-img {
		width: 100%;
	}
	.heading {
		font-size: 40px !important;
	}

	.headquarters {
		font-size: 38px !important;
	}

	.head-address {
		font-size: 26px;
	}

	.base-address {
		font-size: 16px;
	}
}

@media only screen and (max-width: 750px) {
	.visit-container {
		flex-direction: column;
		align-items: center;
	}

	.visit-text {
		width: 60%;
	}

	.visit-map {
		width: 80% !important;
		padding-top: 30px;
	}
}

@media only screen and (max-width: 550px) {
	.city {
		font-size: 22px !important;
	}
	.banner-right-text {
		font-size: 16px;
	}
	.base-address {
		font-size: 18px;
	}
	.heading {
		font-size: 30px !important;
	}

	.headquarters {
		font-size: 28px !important;
	}

	.head-address {
		font-size: 26px;
	}

	.base-address {
		font-size: 16px;
	}
}

@media only screen and (max-width: 350px) {
	.city {
		font-size: 18px !important;
	}
	.banner-right-text {
		font-size: 12px;
	}
	.base-address {
		font-size: 14px;
	}
}
