.banner-img {
	/* margin-left: 85px; */
	width: 90% !important;
}
.content-1 {
	line-height: 2;
	color: #233b42;
}

p {
	font-size: 1.1rem;
}

.content-1-heading {
	background-color: #ecf3f5;
	color: #416d7a !important;
}

b {
	color: #416d7a;
}

.section-partition {
	background-color: #416d7a;
	width: 100%;
	/* position: relative;
	left: 10px; */
	/* height: 200px; */
}

.first-line {
	color: #ecf3f5 !important;
	letter-spacing: 0.1rem;
	font-size: 19px;
}

.second-line {
	color: #fff;
	font-size: 32px;
	letter-spacing: 0.5rem;
}

.third-line {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

h1 {
	/* display: flex; */
	/* flex-direction: row; */
	color: #416d7a;
	/* width: 50%; */
}

.special-background {
	background: linear-gradient(
		to bottom,
		#ecf3f5,
		#ecf3f5 50%,
		#f5f9fa 50%,
		#f5f9fa
	);
	background-size: 100% 75px;
}

.person-img {
	box-shadow: 10px 10px 5px #ccc;
	width: 70% !important;
	height: 70% !important;
}

.quotation-text {
	color: #5e747b !important;
	line-height: 1.5 !important;
	font-size: 1.7rem;
	font-style: italic;
	font-weight: 600;
}

.heading {
	font-size: 4rem !important;
	color: #9fc1ca;
	z-index: 100;
}

.dot-background {
	position: relative;
	top: 200px;
	left: -30px;
	z-index: -1;
}

.card-title {
	font-size: 22px;
	color: #416d7a;
	font-weight: 600;
}

.card {
	background-color: #eaf2f3 !important;
	border: 0 !important;
	box-shadow: 1px 10px 5px 0px rgba(128, 170, 183, 0.75);
	-webkit-box-shadow: 1px 10px 5px 0px rgba(128, 170, 183, 0.75);
	-moz-box-shadow: 1px 10px 5px 0px rgba(128, 170, 183, 0.75);
}

.card-text {
	font-size: 14px;
}

.dot2 {
	position: relative;
	left: 70px;
	top: -20px !important;
	z-index: -1;
}

.heading-about {
	font-weight: 600;
}



@media (max-width: 480px) and (min-width: 320px) {
	.heading {
		font-size: 3rem !important;
	}
	.dot-background {
		top: 180px;
	}
	.check-small {
		margin-top: 10rem;
	}
	.hero-banner {
		height: 9rem;
	}
}
@media (max-width: 768px) and (min-width: 481px) {
	.heading {
		font-size: 4rem !important;
	}
	.dot-background {
		top: 180px;
	}
	.check-small {
		margin-top: 10rem;
	}
	.hero-banner {
		height: 9rem;
	}
	/* .logo-banner {
		padding-left: 10rem !important;
		overflow: hidden;
	} */
}

@media only screen and (max-width: 650px) {
	.valuesCards{
		padding-left: 50px;
	}
	
  }


@media only screen and (max-width: 740px) {

	.special-background div{
		display: flex;
		/* border: 1px solid red; */
		justify-content: center;
	}
	.person-img{
		width: 300px !important;
	}
	.section-partition{
		width: 100%;
		border: 1px solid red;
	}
	.logo-banner{
		width: 100%;
		border: 1px solid red;
	}
  }
 
  @media only screen and (max-width: 930px) {
	.dot-background {
		top: 180px;
		left: -30px;
	}
	
  }



@media only screen and (max-width: 970px) {
	.logo-banner{
		margin-bottom: 20px;
	}
	
  }


 