.main{
    margin:50px;
    padding:5%;
}
.LandingPage{
    background-color:#E5E5E5;
}
.theory__section{
    display:flex;
    padding:7%;

}
.theory__left{
padding:50px;
}
.theory__right{
padding:70px;
}

.theory{
    
font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
color: #233B42;
}

.our__products__heading{
    font-family: Nunito Sans;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 68px;
text-align: center;
color: #416D7A;
}
.our__products__subheading{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
/* or 135% */
text-align: center;
width: 600px;
color: #5E747B;
margin: 0 auto 0 auto;

}
.our__products__images{
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
    align-items: center;
    margin: 0 auto 0 auto;
}

.explore__button{
    align-items: center;
    margin: 0 auto 0 auto;
}
.explore__button > button{
    margin: 0 auto 0 auto;
    background: #416D7A;
    border-radius: 5px;
    width: 18%;
    font-family: Nunito Sans;
font-style: normal;
font-size: 20px;
align-items: center;
text-align: center;
color: #FFFFFF;
}
.water__treatment__section{
    margin:50px;
    padding:5%;
    align-items: center;
    position:relative;
}
.content__water__treatment{
    /* display:flex; */
    /* left:200px; */
    
}
.features__section{
    align-items: center;
    margin:0 auto;
}
.features__images{
    width: 100%;
}

.Research__development__section{
align-items: center;
margin: 20px auto 20px auto;
}
.Research__development__section>h2{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #416D7A;
}
.Research__development__content{
    display: flex;
    padding: 150px;

}
.Research__development__content > p{
    flex: 2;
    padding:50px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;

}
.Research__development__content>img{
    flex: 1;
    padding:20px;
}
