/* .main {
	margin: 50px;
	padding: 5%;
}

.theory__section {
	display: flex;
	padding: 7%;
}

.theory__left {
	padding: 50px;
}

.theory__right {
	padding: 70px;
}

.theory {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 38px;
	color: #233b42;
}

.our__products__heading {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 68px;
	text-align: center;
	color: #416d7a;
}
.our__products__subheading {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	width: 600px;
	color: #5e747b;
	margin: 0 auto 0 auto;
}
.our__products__images {
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
	align-items: center;
	margin: 0 auto 0 auto;
}

.explore__button {
	align-items: center;
	margin: 0 auto 0 auto;
}
.explore__button > button {
	margin: 0 auto 0 auto;
	background: #416d7a;
	border-radius: 5px;
	width: 18%;
	font-family: Nunito Sans;
	font-style: normal;
	font-size: 20px;
	align-items: center;
	text-align: center;
	color: #ffffff;
} 
.water__treatment__section {
	margin: 50px;
	padding: 5%;
	align-items: center;
	position: relative;
}
.features__section {
	align-items: center;
	margin: 0 auto;
}
.features__images {
	width: 100%;
}

.Research__development__section {
	align-items: center;
	margin: 20px auto 20px auto;
}
.Research__development__section > h2 {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 68px;
	text-align: center;
	color: #416d7a;
} 
.Research__development__content {
	display: flex;
	padding: 150px;
}
.Research__development__content > p {
	flex: 2;
	padding: 50px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
}
.Research__development__content > img {
	flex: 1;
	padding: 20px;
} */

.theory-1 {
	font-size: 26px;
	word-spacing: 2px;
}

.heading-1 {
	color: #416d7a;
	font-size: 50px !important;
	font-weight: 700 !important;
}

.explore-btn {
	background: #416d7a;
	border-radius: 7px;
	width: 18rem;
	font-style: normal;
	font-size: 20px;
	align-items: center;
	text-align: center;
	color: #ffffff;
}

.waste-water-card {
	box-shadow: -11px 1px 6px 1px rgba(128, 170, 183, 0.75);
	-webkit-box-shadow: -11px 1px 6px 1px rgba(128, 170, 183, 0.75);
	-moz-box-shadow: -11px 1px 6px 1px rgba(128, 170, 183, 0.75);
	background-color: rgba(128, 170, 183, 0.1);
}

.waste-heading {
	padding: 10px;
	font-size: 32px;
}

.waste-body {
	font-size: 18px;
	color: #233b42;
}
.special-background {
	background: linear-gradient(
		to bottom,
		#ecf3f5,
		#ecf3f5 50%,
		#f5f9fa 50%,
		#f5f9fa
	);
	background-size: 100% 75px;
}

.special-text {
	font-size: 32px;
	font-weight: 600 !important;
	color: #416d7a;
}

.r-and-d {
	font-size: 24px;
}
