.wrapper {
	width: 95%;
	margin: 0 auto;
	color: #343e41;
	height: 100px;
	font-weight: 600;
}

.shadow-box {
	box-shadow: -1px 10px 19px 0px rgba(65, 109, 122, 0.19);
	-webkit-box-shadow: -1px 10px 19px 0px rgba(65, 109, 122, 0.19);
	-moz-box-shadow: -1px 10px 19px 0px rgba(65, 109, 122, 0.19);
}

.rectangle {
	margin-top: 10px !important;
	margin-bottom: 15px;
	border-radius: 5px;
	height: 40px;
	background-color: #416c7a;
}

.top-two {
	position: relative;
	left: 55%;
	top: 5px;
	color: white;
	font-weight: 400;
}

.top-two > li:nth-child(2) {
	padding-left: 70px;
}

/* .nav-item {
	color: #343e41;
} */

ul {
	list-style-type: none;
	width: 95%;
	width: 100%;
	display: inline;
	padding: 0;
}

li {
	display: inline;
}

i {
	margin-right: 5px;
}

.logo-box {
	position: absolute;
	top: 26px;
	left: 40px;
	padding-left: 15px;
}

.group-6 {
	position: absolute;
	height: 75px;
	width: 95%;
	padding-top: 20px;
	display: inline;
}

.outer-list > li {
	margin: 2px 20px;
	padding: 0px 20px;
	position: relative;
	left: 30% !important;
	top: -10px;
}

a {
	text-decoration: none;
	cursor: pointer;
}
