.left {
	z-index: 25;
	width: 40%;
	height: 55%;
	position: relative;
	left: 50px;
	display: flex;
	/* border: 3px solid skyblue; */
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	flex-direction: column;
	top: -10%;
	/* background-color: red; */
}

/* p,
h1 {
	margin: 0px;
} */

.left > h1 {
	padding-left: 1rem;
	font-weight: 500;
	font-size: 2.7rem;
	color: white !important;
}

.left > p {
	margin-top: 5px;
	font-size: 1.1rem;
	font-weight: 500;
	word-spacing: 4px;
	padding-left: 1rem;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.6);
}

.not-white {
	color: #0a4658 !important;
}

.landing-page-title {
	font-weight: 500;
	font-size: 2.7rem;
	color: white !important;
	margin: 0 !important;
}

h2 {
	color: rgba(255, 255, 255, 0.4);
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
	/* box-sizing: border-box; */
}

.right {
	z-index: 20;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 5px solid orange; */
}

figure {
	width: 100%;
	height: 90%;
}

figure > img {
	height: 100%;
	width: 100%;
	/* border: 10px solid pink; */
	box-shadow: 10px 10px 5px 0px rgba(159, 193, 202, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(159, 193, 202, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(159, 193, 202, 0.75);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.left {
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
		background-color: rgba(255, 255, 255, 0.1);
	}
}

@media only screen and (max-width: 1200px) {
	.left > h1 {
		font-size: 2.2rem;
	}
	p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 1000px) {
	.left > h1 {
		font-size: 1.7rem;
	}
	p {
		font-size: 0.8rem;
	}
}

@media only screen and (max-width: 850px) {
	.left > h1 {
		font-size: 1.4rem;
		padding: 0 0 0 10px !important;
	}
	p {
		font-size: 0.6rem;
		padding-left: 10px;
		padding-bottom: 5px;
	}
}

@media only screen and (max-width: 650px) {
	.left > h1 {
		font-size: 1.9rem;
		text-align: center;
	}
	p {
		font-size: 0.8rem;
		padding-bottom: 5px;
		text-align: center;
	}

	h2 {
		font-size: 1.7rem;
	}

	.left {
		width: 70%;
		left: 0;
		top: 0;
		padding: 5px;
		position: static;
		align-items: center;
		/* justify-content: center; */
	}

	.right {
		width: 90%;
		right: 0;
	}
}

@media only screen and (max-width: 450px) {
	.left > h1 {
		font-size: 1.6rem;
	}
	p {
		font-size: 0.7rem;
	}
	h2 {
		font-size: 1.5rem;
	}

	.left {
		width: 80%;
	}

	.right {
		width: 100%;
	}
}

@media only screen and (max-width: 350px) {
	.left > h1 {
		font-size: 1.1rem;
	}
	p {
		font-size: 0.5rem;
	}

	h2 {
		font-size: 1.3rem;
	}

	.left {
		width: 80%;
	}

	.right {
		width: 105%;
	}
}

@keyframes carousel {
	0%,
	23% {
		transform: translateX(0);
	}
	25%,
	48% {
		transform: translateX(-100vw);
	}
	50%,
	73% {
		transform: translateX(-200vw);
	}
	75%,
	95% {
		transform: translateX(-300vw);
	}
	100% {
		transform: translateX(0vw);
	}
}
